:root{
    --primary: #fff;
    --primaryDark: #161e33;
    --secondary: #58ce6c;
    --secondaryDark: #421a1a;



    /* Book Vars */
	--book-1: url('/test.1/src/assets/image/webp/book-1.webp');
	--book-2: url('/test.1/src/assets/image/webp/book-2.webp');
	--book-3: url('/test.1/src/assets/image/webp/book-3.webp');
	--bookMark: url('/test.1/src/assets/image/webp/bookMark.webp');
	--bookWidth: 180px;
	--bookHeight: 225px;
	--bookSpacing: 70px;
	--bookA: calc(var(--bookHeight) + var(--bookSpacing) - 15px);
	--bookAll: calc(var(var(--bookSpacing)) + var(var(--bookHeight)) + var() + var())
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primaryDark);
    text-align: center;
}